.position {
  position: absolute;
}
.icon-left {
  top: 10px;
  left: 10px;
}
.icon-right {
  bottom: 10px;
  right: 10px;
}
.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.winter {
  background-color: aliceblue;
}
.season-display.winter i {
  color: blue;
}
.summer {
  background-color: orange;
}
.season-display.summer i {
  color: red;
}
.wrapper {
  border: 5px solid white;
}
